
/*---------------------------------------------------------------------- NAVBAR --------------------------------------------------------*/
/* BARRA DE NAVEGACION */

header { 
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;  /* position fixed me lo hace inline sino */
  }
  
  header div h1{
    margin-left: 1rem;
  }
  
  /* usar con id sino me afecta el ul de mas abajo */
  nav ul { 
    width: 100%;
    display: flex;
    margin-right: 1rem;
  }
  
  nav a {
    text-decoration: none;
    display: block;
    width: 120px;
    margin: .5rem;
    margin-right: 0;
    text-align: center;
    padding: 1rem;
    color: white;
    font-weight: bold;
  }
  
  a:hover {
    background: lightblue;
  }
  
  a:active {
    background: rgb(96, 167, 190);
    color: #333;
  }
  
  /* MENU DESPLEGABLE */
  .desplegable {
    position: relative;
  }
  
  .desplegable ul {
    position: absolute;
    left: 8px;
    top: 65px;
    /* Esto hay que agregar para que funcione */
    display: none;
    /* Fin de lo que hay que agregar */
  }
  
  .desplegable ul li a {
    background: gray;
    color: white;
    font-size: 0.8em;
    margin: 0;
  }
  
  .desplegable ul li a:hover {
    background: #666;
  }
  
  /* Esto hay que agregar para que funcione */
  .desplegable:hover ul {
    display: flex;
    flex-direction: column;
  }
  /* Fin de lo que hay que agregar */